$color-primary-dark: #003638;
$color-primary-light: lighten($color-primary-dark, 20%);
$color-white: white;
$color-black: #000;
$color-grey: lighten($color-primary-dark, 80%);
$color-card: lighten($color-primary-dark, 85%);
